@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input, button, textarea, select {
  font: inherit;
}

:root {
  --normal-text-color: #e5e7eb;
  --dark-background-color: #1f2937;
  --hero-header-font-size: 48px;
  --hero-header-font-weight: 900;
  --hero-header-text-color: #f9faf8;
  --hero-secondary-font-size: 18px;
  --hero-secondary-color: #e5e7eb;
  --nav-logo-font-size: 24px;
  --nav-logo-text-color: #f9faf8;
  --nav-text-color-hover: #87b4fd;
  --button-cta-background-color: #3882f6;
  --button-cta-background-color-hover: #0d4aab;
  --section-header-font-size: 36px;
  --section-header-font-weight: 900;
  --section-header-text-color: #1f2937;
  --quote-section-background-color: #e5e7eb;
  --quote-section-font-size: 36px;
  --quote-section-font-weight: 300;
  --quote-section-font-style: italic;
  --quote-section-text-color: #1f2937;
  --hero-header-text-color: #f9faf8;
  --cta-section-background-color: #3882f6;
  --footer-font-size: 18px;
  --home-border-radius: 5px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, Helvetica, sans-serif;
  color: #1f2937;
  background-color: #fff;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.cta-button {
  border: none;
  padding: 4px 24px;
  border-radius: var(--home-border-radius);
  color: var(--hero-header-text-color);
  background-color: var(--button-cta-background-color);
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
}

.cta-button:hover {
  background-color: var(--button-cta-background-color-hover);
}

/* Navbar section  */
.navbar {
  background-color: var(--dark-background-color);
  height: 70px;
  color: var(--normal-text-color);
}

.navbar .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-size: var(--nav-logo-font-size);
  font-weight: 700;
}

.navbar .nav {
  display: flex;
  gap: 24px;
}

.navbar a {
  text-decoration: none;
  color: var(--normal-text-color);
  font-size: var(--hero-secondary-font-size)
}

.navbar a:hover {
  color: var(--nav-text-color-hover);
}

/* Hero section  */

.hero {
  background-color: var(--dark-background-color);
  min-height: 400px;
  color: var(--hero-header-text-color);
  display: flex;
  align-items: center;
}

.hero .container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 40px;
  height: 100%;
}

.hero h1 {
  font-size: var(--hero-header-font-size);
  font-weight: var(--hero-header-font-weight);
  line-height: 1.1;
  margin-bottom: 6px;
}

.hero p {
  font-size: var(--hero-secondary-font-size);
  color: var(--hero-secondary-color);
  line-height: 1.4;
  margin-bottom: 15px;
}

.hero img {
  max-width: 400px;
  height: auto;
  border-radius: var(--home-border-radius);
}

/* Info section */

.info {
  min-height: 450px;
  color: var(--section-header-text-color);
  text-align: center;
}

.info .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 32px;
  height: 100%;
  padding-bottom: 60px;
}

.info h2 {
  font-size: var(--section-header-font-size);
  font-weight: var(--section-header-font-weight);
  margin-bottom: 0;
}

.info .cards {
  display: flex;
  justify-content: center;
  gap: 48px;
  line-height: 1.2;
  flex-wrap: wrap;
}

.info .card {
  width: 175px;
}

.info .card img {
  border: 3px solid var(--cta-section-background-color);
  border-radius: 10px;
  width: 175px;
  height: 175px;
  margin-bottom: 5px;
}

/* Testimonial section */

.testimonial {
  background-color: var(--quote-section-background-color);
  color: var(--quote-section-text-color);
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial .container {
  max-width: 870px;
  padding: 60px;
}

.testimonial .quote {
  font-size: var(--quote-section-font-size);
  font-weight: var(--quote-section-font-weight);
  font-style: var(--quote-section-font-style);
  line-height: 1.2;
  margin-bottom: 15px;
}

.testimonial .quote-author {
  font-size: var(--hero-secondary-font-size);
  font-weight: 700;
  text-align: right;
}

/* Bottom CTA section */

.cta-section {
  color: var(--nav-logo-text-color);
  padding: 60px;
}

.cta-section .container {
  background-color: var(--cta-section-background-color);
  border-radius: var(--home-border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  padding: 30px 75px;
  gap: 40px;
}

.cta-section h3 {
  margin-bottom: 0;
}

.cta-section .inverted {
  border: 2px solid var(--hero-header-text-color);
}

/* Footer section */

.footer {
  background-color: var(--dark-background-color);
  height: 70px;
  color: var(--normal-text-color);
}

.footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%
}

@media all and (max-width: 800px) {
  .hero .container {
    flex-direction: column;
    text-align: center;
    padding: 60px;
  }

  .testimonial .quote {
    font-size: 30px;
  }

  .cta-section .container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}

@media all and (max-width: 600px) {
  .navbar {
    height: initial;
  }
  .navbar .container {
    padding: 10px;
    flex-direction: column;
    gap: 8px;
  }

  .hero {
    display: inherit;
  }

  .hero img {max-width: 300px;}

  .testimonial .container {
    text-align: center;
    padding: 40px;
  }

  .testimonial .quote-author {
    text-align: center;
  }

  .cta-section .container {
    padding: 30px 25px;
  }
}